/*  
    Small	sm	≥576px
    Medium	md	≥768px
    Large	lg	≥992px
  */

header{
    background-color: blueviolet;
}

body{
    background-color: salmon;
}

.cont_1{
    background-color: gold;
}

.cont_2{
    background-color: rgb(42, 190, 28);
}

.cont_3{
    background-color: rgb(83, 179, 243);
}